@tailwind base;
@tailwind components;
@tailwind utilities;

.tealText {
  color: #008080;
}
.tealBG {
  background-color: #008080;
}
.teal-border {
  border-color: #008080;
}
.border-aight {
  border-width:1px;
  border-color: rgba(30, 41, 59, 0.30);
}
.border-aight-teal {
  border-width:1px;
  border-color: #008080;
}
html {
  scroll-behavior: smooth;
}